
{% extends "blog/base.html" %}


{% block content %}


<div class="">
  <div class="container">
    <div class="row text-center bhfbbhe3">
      <h2>News Room </h2>
      </div>
    </div>
  </div>








  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->
<!--
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->

  <div class="onoffswitch3">
      <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
      <label class="onoffswitch3-label" for="myonoffswitch3">
          <span class="onoffswitch3-inner">
              <span class="onoffswitch3-active">
                  <marquee class="scroll-text">This winter we are planning for a clothes and blankets distribution camp! plz Donate warm clothes and blankets   <span class="glyphicon glyphicon-forward"></span> No matter where you  are, if you are doing something greate for needy people, mail your photos and videos to developers mail id, we will publish in this News room page  <span class="glyphicon glyphicon-forward"></span>  We will  Update You for Up comming events</marquee>
                  <span class="onoffswitch1-switch">RECENT<span class="glyphicon glyphicon-remove"></span></span>
              </span>
              <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
          </span>
      </label>
  </div>









<div class="container">


  <div class="row">
    <div class="col-md-12">
      <h4 class="no-span">Upcoming</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="m-title">
            clothes and blankets distribution camp!
          </h4>
          <div class="myImg">
            <img alt="" class="panel-image-preview" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/76636715_538224666748958_7830334600244101120_n.jpg?_nc_cat=109&_nc_oc=AQk1gwOSB1z_R3fIE1dPOC5RKV0WGQE5G7CBtYvKc8hT2feu0Gc20XCqXQyVibkQyuVQ42qD1uJYxihjkMLCShSa&_nc_ht=scontent.fbbi1-1.fna&oh=23e7fcd917f2c2dcfefe22aff7d603bf&oe=5E4BF16F">
            <div class="caption">
              <span class="fontz-text glow"></span>
            </div>
          </div>
          <p>
            Clothes Donors: Thanking You is just not Enough
          </p>
        </div>
      </div>
    </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="no-span center-text">Good News</h4>
    </div>
  </div>
</div>






<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="m-title">
          We are happy ....he came back
        </h4>
        <div class="myImg">
          <img alt="" class="panel-image-preview" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/74158280_541037449801013_8546592474993262592_o.jpg?_nc_cat=100&_nc_oc=AQnntKgq3JlnK7P9ee_FpYmpRPH8GN57xi-CF0SSeJ4orEsE6zUIGmXEERY34tMFZW-WkieMLMEYzBK4WjastlIA&_nc_ht=scontent.fbbi1-1.fna&oh=f5e41fd5a28cf0512e8ac7c4cfa43b18&oe=5E5B68AE">
          <div class="caption">
            <span class="fontz-text glow"></span>
          </div>
        </div>
        <p>
          Special thanks to you all who helped his family to find out him
        </p>
      </div>
    </div>
  </div>
</div>

</div>




































<!--


<div class="" id="fixed">
  <img src="" alt="">
</div>
 -->







<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
            <h3>Our Mission</h3>
            <p>**We are nonprofit team and continuously working on Education for every child, Feeding and Providing clothes to needy people, helping road accident victims, donating blood and many more **</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="{% url 'main'%}">Home</a></li>
              <li><a href="{% url 'about'%}">About</a></li>
              <li><a href="{% url 'news'%}">News</a></li>
              <li><a href="{% url 'gallery'%}">Gallery</a></li>
              <li><a href="{% url 'videos'%}">Videos</a></li>
              <li><a href="{% url 'post_list' %}">Opinion_Box</a></li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
            <h2>Follow Us</h2>
            <p>Please Follow us on our Social Media profile in order to keep a Touchup</p>
            <a href="https://www.facebook.com/AmeBipadareSaathi/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/amebipadaresaathi/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC8FPJ3WdipRb3amgXNn6u_g"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
            <h2>Contact Us</h2>
            <p><span class="glyphicon glyphicon-send"></span> Panikoili, Jajpur 755043<br>Once paper work is completed, Proper address we will notify you </p>
            <p><span class="glyphicon glyphicon-phone"></span>8895045080<br> 9348387487 <br>  9937308537</p>
            <p><span class="glyphicon glyphicon-envelope"></span>amebipadaresaathi@gmail.com<br> rakeshranjanpanda92@gmail.com</p>
            <p><span class="glyphicon glyphicon-tasks"></span> For website related issue :<br>bibekanandaparhi85@gmail.com</p>

            <form class="" action="index.html" method="post">

              <button  type="button" class="btn-outline-primary btn-sm"> <a href="{% url 'login' %}">JOIN WITH US</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <p class="footer-bottom-text hudhd54d5">This Website is developed and maintained with <span class="glyphicon glyphicon-heart"></span> by <a href="https://www.facebook.com/bibekananda.parhi.7"><b>VIVEK</b></a> | Copyright ©2019 All rights reserved </p>
</footer>

{% endblock %}
