{% extends 'blog/base.html' %}

{% block content %}
    <h1> New post</h1>

    <form method="POST" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <h4>If You are Guest, Please write your Name at the end of the Text !!</h4>
    <button type="submit" class="save btn btn-default">Save</button><br><br><br>
    </form>

    <script>var editor = new MediumEditor('.editable');</script>
<br><br><br><br><br><br><br><br><br><br>
    <footer>
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                  <h3>Our Mission</h3>
                  <p>**We are nonprofit team and continuously working on Education for every child, Feeding and Providing clothes to needy people, helping road accident victims, donating blood and many more **</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                  <h2>Quick Links</h2>
                  <ul>
                    <li><a href="{% url 'main'%}">Home</a></li>
                    <li><a href="{% url 'about'%}">About</a></li>
                    <li><a href="{% url 'news'%}">News</a></li>
                    <li><a href="{% url 'gallery'%}">Gallery</a></li>
                    <li><a href="{% url 'videos'%}">Videos</a></li>
                    <li><a href="{% url 'post_list' %}">Opinion_Box</a></li>

                  </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                  <h2>Follow Us</h2>
                  <p>Please Follow us on our Social Media profile in order to keep a Touchup</p>
                  <a href="https://www.facebook.com/AmeBipadareSaathi/"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/amebipadaresaathi/"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UC8FPJ3WdipRb3amgXNn6u_g"><i class="fa fa-youtube"></i></a>
                  <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                  <h2>Contact Us</h2>
                  <p><span class="glyphicon glyphicon-send"></span> Panikoili, Jajpur 755043<br>Once paper work is completed, Proper address we will notify you </p>
                  <p><span class="glyphicon glyphicon-phone"></span>8895045080<br> 9348387487 <br>  9937308537</p>
                  <p><span class="glyphicon glyphicon-envelope"></span>amebipadaresaathi@gmail.com<br> rakeshranjanpanda92@gmail.com</p>
                  <p><span class="glyphicon glyphicon-tasks"></span> For website related issue :<br>bibekanandaparhi85@gmail.com</p>

                  <form class="" action="index.html" method="post">
                    <input type="submit" name="" value="JOIN WITH US">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <p class="footer-bottom-text hudhd54d5">This Website is developed and maintained with <span class="glyphicon glyphicon-heart"></span> by <a href="https://www.facebook.com/bibekananda.parhi.7"><b>VIVEK</b></a> | Copyright ©2019 All rights reserved </p>
      </footer>
{% endblock %}
